@font-face {
    font-family: Alhkemikal;
    src: url("fonts/Alkhemikal.ttf");
}

body {
    background-image: url(pic/nighttimebig.gif);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Alhkemikal;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;

}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
}

.username{
    margin-bottom: 3%;
}

.password{
    margin-bottom: 3%;
}
 
#submit{
    font-family: Alhkemikal;
    background-color: hsla(0, 0%, 0%, 0.535);
    border-radius: 15px;
    border: 0.5vh solid black;
    font-size: 7vh;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
    color: white;
    padding: 1vh;
}

.topright{
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 2vh;
}

.topright img{
    width: 7vh;
    background-color:hsla(0, 0%, 0%, 0.535);
    color: white;
}

.settings{
    display: none;   
    background-color:hsla(0, 0%, 0%, 0.535);
    box-shadow: 0px 0px 0px black;
    width: 100%;
    font-size: 5vh;
}

.settings button{
    font-family: Alhkemikal;
    background-color: hsla(0, 0%, 0%, 0.535);
    border: 0.5vh solid black;
    font-size: 3vh;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
    color: white;
    
}

.topright:hover #gearicon{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 2vh;
    display: none;
}

.topright:hover .settings{
    display: block;
    text-align: center;
    position: relative;
    top: 100%;
    right: 0px;
}

.credits{
    position: absolute;
    align-self: flex-end;
    justify-self: flex-end;
    left: 2vh;
}

.fontcredits{
    position: absolute;
    align-self: flex-end;
    justify-self: flex-end;
    right: 2vh;
}

.fontcredits a{
    text-decoration: none;
    color: white;
}