body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

p, h1, h3 {
    margin: 10px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    box-sizing: border-box;
}

.left{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 15%;
    min-width: 150px;
    max-height: 55vh;
    padding: 10px;
    box-sizing: border-box;
}

.gold{
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    margin-bottom: 20vh;
    padding: 2vh;
}
.gold #gold{
    color: gold;
}

.quests{
    color: white;
    border: 2px solid white;
    border-radius: 15px;
}



.center {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
}


#enemyhealth {
    color: white;
    text-align: center;
    width: 10vh;
    height: 3vh;
    background-color: red;
    margin: 10px;
    border: 2px solid rgb(79, 0, 0);
    border-radius: 15px;
    padding: 10px;
    max-width: 20%;
}

.enemymodel {
    min-height: 50vh;
    min-width: 50vh;
    max-height: 50vh;
    max-width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*MOVES ENEMY TO THE BOTTOM OF THE ENEMY CONTAINER*/
    justify-content: flex-end;
    background-image: url('pic/sewer.jpg');
    background-size: cover;
    background-position: center;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
}

.enemymodel img {
    max-width: 20vh;
    max-height: auto;
    min-width: 20vh;
    min-height: auto;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px;
    
}

.spells {
    color: white;
    position: relative;
    width: 100%;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    max-width: 50vh;
    max-height: 10vh;
    overflow-y: hidden;
    margin-top: 6%;
}

.party {
    color: white;
    width: 15%;
    min-width: 150px;
    height: auto;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
}

/* Media Queries */
@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    .left, .party {
        width: 90%;
        margin-bottom: 10px;
    }

    .center {
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .enemymodel {
        width: 60%;
    }

    #enemyhealth {
        width: 50%;
    }
}
