body {
    background-image: url(pic/sewer2.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Alhkemikal;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


p, h1, h3 {
    margin: 1vh;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    box-sizing: border-box;
}

.left{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 20%;
    min-width: 150px;
    max-height: 55vh;
    padding: 10px;
    box-sizing: border-box;
}

.gold{
    color: white;
    background-color: #B88566;
    border: 3px solid #491D04;
    border-radius: 15px;
    margin-bottom: 10vh;
    padding: 2vh;
}
.gold #gold{
    color: gold;
}

.quests{
    color: white;
    border: 3px solid #491D04;
    background-color: #B88566;
    border-radius: 15px;
    height: fit-content;
}


.quest-box, #quest, #questnum, #killsneeded, #questenemy{
    padding-left: 1vh;
    margin-top: -20px;
    font-size: 20px;
    margin-left: -2px;
    display: inline-block;
}

#challenge{
    display: inline-block;
    font-size: 17px;
}

.center {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    margin-left: 25px;
}


#enemyhealth {
    color: white;
    text-align: center;
    width: 59%;
    height: 2vh;
    margin: 15px;
    margin-right: 25px;
    background-color: rgba(255, 0, 0, 0.661);
    border: 2px solid rgb(79, 0, 0);
    padding: 10px;
    max-width: 50%;
}

.enemymodel {
    min-height: 50vh;
    min-width: 50vh;
    max-height: 50vh;
    max-width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    /*MOVES ENEMY TO THE BOTTOM OF THE ENEMY CONTAINER*/
    justify-content: flex-end;

    background-size: cover;
    background-position: center;
    /* background-image: url(pic/sewer.jpg); */

    border-radius: 15px;
    padding: 10px;
}

.enemymodel img {
    max-width: 20vh;
    max-height: auto;
    min-width: 20vh;
    min-height: auto;
    border-radius: 15px;
    padding: 10px;
}

.enemymodel img.bigger {
    max-width: 50vh;
    max-height: auto;
    min-width: 50vh;
    min-height: auto;
}


.spells {
    color: white;
    position: relative;
    width: 100%;
    background-color: #B88566;
    border-radius: 15px;
    padding: 10px;
    max-width: 70vh;
    max-height: 20vh;
    overflow-y: hidden;
    margin-top: 2%;
    text-align: center;
    border: 3px solid #491D04;
}

.spells img{
    max-width: 7vh;
    padding: 1vh;
    margin-left: 2%;
}

#spells img:hover{
    animation-name: scalingTime;
    animation-duration: 1s;
    /*makes it so the animation doesn't loop*/
    animation-fill-mode: forwards;
}


@keyframes scalingTime{
    100%{transform: scale(1.2);}
}


.right {
    color: white;
    width: 25%;
    min-width: 125px;
    min-height: 100%;
    height: auto;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 0%;
    margin-right: -1%;
}

#party{
    width: 90%;
    min-width: 150px;
    min-height: 30%;
    border-radius: 15px;
    background-color: #B88566;
    border: 3px solid rgb(79, 0, 0);
    height: 150px;
    margin-bottom: 13%;
}

#party{
    width: 90%;
    min-width: 150px;
    min-height: 30%;
    border-radius: 15px;
    background-color: #B88566;
    border: 3px solid rgb(79, 0, 0);
    height: 150px;
}

/* Media Queries */
@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    .left, .right {
        width: 90%;
        margin-bottom: 10px;
    }

    .center {
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .enemymodel {
        width: 60%;
    }

    #enemyhealth {
        width: 50%;
    }
}

/* added by sam from homepage.css */
#submit{
    font-family: Alhkemikal;
    background-color: #B88566;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    border: 3px solid #491D04;
    font-size: 2.5vh;
    /* text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000; */
    color: white;
    padding: 1.5vh;
    margin-left: 15px;

   transition: background-color 0.25s;
}

#menu{
    text-align: center;
    margin-top: -125px;
    margin-right: 30px;

}

#submit:hover{
    background-color: firebrick;
    cursor: pointer;
}
